.requiredStar {
    color: red;
}

.paidAmount {
    font-weight: bold;
    font-size: larger;
    color: red;
}

input {
    background-color: #fff !important;
}

input:read-only,
textarea:read-only {
    background-color: lightsteelblue !important;
    box-shadow: inset 1px 1px 3px #ccc;
}

th,
label {
    font-size: smaller;
    font-family: "Courier New", Courier, monospace;
}

table,
tbody,
tr {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 0 !important;
}

#transactionFormContainer,
#createNewItemDiv {
    background-color: rgba(255, 255, 255, 0.6);
}
